{% extends 'blog/base.html' %}
{% block page-title %}Blog{% endblock %}
{% block page-name %}Home{% endblock%}
{% block content %}

<style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;

        padding: 0 16px;

        text-decoration: none;

        color: var(--app-secondary-color);

        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;

        font-weight: bold;
      }

    </style>

<style>

    paper-card {
      width: 100%;
    }

    .horizontal {
      @apply(--layout-horizontal);
    }

    .justified {
      @apply(--layout-justified);
    }

    .amber {
      background: var(--paper-amber-900);
    }

    .lime {
      background: var(--paper-lime-500);
    }

    .cyan {
      background: var(--paper-cyan-500);
    }

    .dark {
      background: var(--paper-blue-grey-500);
    }
    paper-card.dark, paper-card.amber, paper-card.lime, paper-card.cyan {
      color: white;
      --paper-card-header-color: white;
    }
  </style>

<style>
    .container {
        padding: 10px;
        text-align: center;
    }
</style>

<style>
    app-toolbar {
      background-color: #4285f4;
      color: #fff;
    }

    paper-icon-button {
      --paper-icon-button-ink-color: white;
    }

    paper-icon-button + [main-title] {
      margin-left: 24px;
    }
</style>

<style>


</style>

     <app-drawer-layout fullbleed>
      <!-- Main content -->


          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>CODEBLOGA</div>
          </app-toolbar>
            <div class="container">
                {% for post in posts %}
                    <paper-card>
                        <div class="card-content">


                                            {{ post.published_date }}
                                        <h1><a href="#">{{ post.title }}</a></h1>
                                        <juicy-ace-editor theme="ace/theme/monokai" mode="ace/mode/html" style="height: 270px">{{ post.code }}</juicy-ace-editor>


                        </div>

                   <!-- <div class="card-actions">
                      <paper-button>Share</paper-button>
                      <paper-button>Explore!</paper-button>
                    </div>-->
                    </paper-card>
                    <p>&nbsp;</p>
                {% endfor %}

             </div>
    </app-drawer-layout>


{% endblock %}